<%= form_with url: user_search_path(@user), method: :get do |f| %>
  <%= f.date_field :created_at %>　#①
  <%= f.submit '検索', class: 'btn btn-primary'  %>
<% end %>

<div id="search_result"> #②
  <% if @search_book.present? %>
    <%= render 'search', search_book: @search_book %>　#③
  <% end %>
</div>
